.set-min-height {
    min-height: 75vh;
    .info-icon {
      color: #909399;
    }
    .danger-icon {
      color: #f56c6c;
    }
    .success-icon {
      color: #67c23a;
    }
    .item-header {
      color: #909399;
    }
    .link {
      color: #409eff;
      &:hover {
        cursor: pointer;
      }
    }
    .deco{
      color: #909399;
    }
    .no-data {
      color: #909399;
      text-align: center;
    }
}